body {
    background-color: rgb(205, 239, 245);
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 800px;
    width: 100%;
}

h1 {
    font-size: 48px;
    color: rgb(238, 22, 202);
}

h2 {
    font-size: 36px;
    color: rgb(55, 95, 14);
}

p {
    font-size: 22px;
    line-height: 1.8;
    color: rgb(182, 101, 219);
}
img {
    max-width: 50%;
    height: auto;
}