body {
    background-color: rgb(105, 214, 233);
    color: white;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

